@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0 0 100);
    --foreground: oklch(240 10 3.9);
    --card: oklch(0 0 100);
    --card-foreground: oklch(240 10 3.9);
    --popover: oklch(0 0 100);
    --popover-foreground: oklch(240 10 3.9);
    --primary: oklch(240 5.9 10);
    --primary-foreground: oklch(0 0 98);
    --secondary: oklch(240 4.8 95.9);
    --secondary-foreground: oklch(240 3.8 46.1);
    --muted: oklch(240 4.8 95.9);
    --muted-foreground: oklch(240 3.8 46.1);
    --accent: oklch(240 4.8 95.9);
    --accent-foreground: oklch(240 5.9 10);
    --destructive: oklch(0 84.2 60.2);
    --destructive-foreground: oklch(0 0 98);
    --border: oklch(240 5.9 90);
    --input: oklch(240 5.9 90);
    --ring: oklch(240 10 3.9);

    .dark {
        --background: oklch(240 10 3.9);
        --foreground: oklch(0 0 98);
        --card: oklch(240 10 3.9);
        --card-foreground: oklch(0 0 98);
        --popover: oklch(240 10 3.9);
        --popover-foreground: oklch(0 0 98);
        --primary: oklch(0 0 98);
        --primary-foreground: oklch(240 5.9 10);
        --secondary: oklch(240 3.7 15.9);
        --secondary-foreground: oklch(0 0 98);
        --muted: oklch(240 3.7 15.9);
        --muted-foreground: oklch(240 5 64.9);
        --accent: oklch(240 3.7 15.9);
        --accent-foreground: oklch(0 0 98);
        --border: oklch(240 3.7 15.9);
        --input: oklch(240 3.7 15.9);
        --ring: oklch(240 4.9 83.9);
    }

}
@theme {
    --color-black: #000;
    --color-black-100: #000319;
    --color-black-200: #111928bf;
    --color-black-300: #ffffff20;
    --color-white: #fff;
    --color-white-100: #BEC1DD;
    --color-white-00: #C1C2D3;
    --color-blue-100: oklch(54.6% 0.245 262.881);
    --color-purple: oklch(59.1% 0.293 322.896);

}

@theme inline {
    --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
    0% {
        opacity: 0;
        transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -40%) scale(1);
    }
}